body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #476EE2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFDA12;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f3d00bff;
}